@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-container {
  max-height: 7rem;
  overflow-y: hidden;
  /* border: 2px solid white; */
  width: min(90vw, 800px);
  margin-inline: auto;
  margin-block: 2rem;
}

.words {
  position: relative;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  line-height: 2.2rem;
}

.sample-text {
  font-size: 1.25rem;
  color: rgb(123, 123, 150);
}

.input-text.no-match {
  color: rgb(161, 29, 29);
}

.input-text.match {
  color: rgb(29, 161, 73);
}

input {
  height: 3rem;
  flex: 1;
  border-radius: 0.5rem;
  padding-inline: 1rem;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  border: none;
}

input.invisible {
  visibility: hidden;
}

.word {
  user-select: none;
  border-radius: 0.3rem;
  padding: 0 0.3rem;
}

.word.active {
  color: rgb(229, 229, 229);
  background: rgb(44, 44, 44);
}

.word.active.incorrect {
  color: rgb(184, 44, 34);
}

.word.active.correct {
  color: rgb(78, 183, 101);
}

.word.incorrect {
  color: rgb(184, 44, 34);
}

.word.correct {
  color: rgb(229, 229, 229);
}

.word > .correct {
  color: rgb(213, 213, 213);
}

.word > .incorrect {
  color: rgb(184, 44, 34);
  text-decoration: underline;
}

.temporary-data {
  flex-grow: 1;
  flex-shrink: 0;
  margin-inline: auto;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.217);
  padding: 1rem;
  align-items: flex-start;
  border-radius: 0.5rem;
  color: rgb(185, 174, 174);
}

.form {
  display: flex;
  gap: 1rem;
  margin-inline: auto;
  justify-content: center;
  width: min(90vw, 800px);
}

.btn {
  height: 3rem;
  display: flex;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 600;

  justify-content: center;
  align-items: center;
  min-width: 10rem;
  border-radius: 0.4rem;
  outline: 4px solid transparent;

  border: none;
  cursor: pointer;
  user-select: none;

  background-color: rgb(218, 148, 77);
  color: hsl(30, 66%, 20%);
}

.btn:hover {
  background-color: hsl(30, 66%, 55%);
}

.btn:focus {
  outline-color: rgba(219, 148, 77, 0.379);
}

.finished-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.result {
  margin-top: 2rem;
  background: hsl(130, 47%, 36%);
  border-radius: 0.3rem;
  width: max-content;
  margin-inline: auto;
  padding: 0.25rem 1rem;
}
