@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --test-font-correct: hsl(133, 42%, 51%);
  --test-font-incorrect: hsl(4, 69%, 43%);
}

:root[color-scheme="theme-1"] {
  --bg-clr: hsl(0, 0%, 9%);
  --font-clr: hsl(0, 0%, 87%);

  --test-font-clr: hsl(231, 7%, 58%);
  --test-font-clr-active: hsl(224, 21%, 86%);
  --test-bg-clr-active: hsl(0, 0%, 13%);

  --components-bg: hsl(0, 0%, 23%);

  --clr-accent: hsl(30, 66%, 58%);
}

:root[color-scheme="theme-2"] {
  --bg-clr: hsl(210, 24%, 93%);
  --font-clr: hsl(228, 6%, 16%);

  --test-font-clr: hsl(232, 6%, 49%);
  --test-font-clr-active: hsl(225, 6%, 12%);
  --test-bg-clr-active: hsl(225, 17%, 86%);

  --components-bg: hsl(228, 11%, 82%);

  --clr-accent: hsl(210, 56%, 58%);
}

:root[color-scheme="theme-3"] {
  --bg-clr: hsl(255, 6%, 13%);
  --font-clr: hsl(0, 0%, 87%);

  --test-font-clr: hsl(231, 7%, 58%);
  --test-font-clr-active: hsl(224, 21%, 86%);
  --test-bg-clr-active: hsl(0, 0%, 18%);

  --components-bg: hsl(0, 0%, 23%);

  --clr-accent: hsl(286, 66%, 58%);
}

:root[color-scheme="theme-4"] {
  --bg-clr: hsl(330, 22%, 93%);
  --font-clr: hsl(336, 6%, 25%);

  --test-font-clr: hsl(340, 6%, 49%);
  --test-font-clr-active: hsl(340, 5%, 25%);
  --test-bg-clr-active: hsl(340, 17%, 86%);

  --components-bg: hsl(336, 11%, 82%);

  --clr-accent: hsl(346, 66%, 58%);
}

:root[color-scheme="theme-5"] {
  --bg-clr: hsl(0, 6%, 13%);
  --font-clr: hsl(0, 0%, 87%);

  --test-font-clr: hsl(231, 7%, 58%);
  --test-font-clr-active: hsl(224, 21%, 86%);
  --test-bg-clr-active: hsl(0, 10%, 23%);

  --components-bg: hsl(0, 3%, 23%);

  --clr-accent: hsl(346, 66%, 58%);
}

button {
  border: none;
  cursor: pointer;
}

.app {
  position: relative;
  background-color: var(--bg-clr);
  color: var(--font-clr);
}

.container {
  min-height: 100vh;
  width: min(90vw, 960px);
  margin-inline: auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 1.5rem;
  color: var(--font-clr);
}

.nav-bar,
.footer {
  height: 4rem;
  display: flex;
  align-items: center;
}

.nav-bar {
  justify-content: space-between;
}

.footer {
  justify-content: center;
  color: rgb(160, 165, 183);
}

.footer .footer-link {
  color: inherit;
  margin-left: 0.5rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 0.5rem;
  font-weight: 500;
  color: var(--test-font-clr);
}

.nav-logo > svg {
  font-size: 2.5rem;
  color: var(--clr-accent);
}

@media screen and (max-width: 600px) {
  .nav-logo {
    font-size: 1.25rem;
  }

  .nav-logo > svg {
    font-size: 2rem;
  }
}

.test {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finished-test {
  display: grid;
  place-content: center;
}

.test .mode-container {
  height: 2rem;
  position: relative;
  display: block;
  top: 1.5rem;
  left: 0.2rem;

  align-self: flex-start;
}

.test .mode-value {
  color: var(--clr-accent);
  font-size: 1.25rem;
  font-weight: 500;
}

.text-container {
  height: 7rem;
  overflow-y: hidden;
  margin-block: 2rem;
  font-size: 1.5rem;
  color: var(--test-font-clr);
}

.words {
  position: relative;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  line-height: 2.2rem;
}

@media screen and (max-width: 600px) {
  .words {
    font-size: 1.25rem;
  }
}

.word {
  user-select: none;
  border-radius: 0.3rem;
  padding: 0 0.3rem;
}

.word.active {
  background: var(--test-bg-clr-active);
  color: var(--test-font-clr-active);
}

.word.active.incorrect {
  color: var(--test-font-incorrect);
}

.word.active.correct {
  color: var(--test-font-correct);
}

.word.incorrect {
  color: var(--test-font-incorrect);
}

.word.correct {
  color: var(--font-clr);
}

.form {
  width: 100%;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.form input {
  height: 3rem;
  width: 100%;
  border-radius: 0.5rem;
  padding-inline: 1rem;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  border: none;
  color: inherit;
  background: var(--components-bg);
}

.form input:disabled {
  cursor: not-allowed;
}

.form input.invisible {
  visibility: hidden;
}

.btn {
  height: 3rem;
  display: flex;
  font-size: 1.25rem;
  font-family: inherit;
  font-weight: 600;

  justify-content: center;
  align-items: center;
  min-width: 10rem;
  border-radius: 0.4rem;
  outline: 4px solid transparent;

  border: none;
  cursor: pointer;
  user-select: none;

  background-color: var(--clr-accent);
}

.btn.restart-btn {
  margin-top: 1.5rem;
  margin-inline: auto;
}

.btn.restart-btn:disabled {
  cursor: not-allowed;
  filter: grayscale(10);
}

.btn.restart-btn:hover {
  opacity: 0.9;
}

.btn.restart-btn:active {
  opacity: 0.8;
}

.btn:focus,
.theme-picker-toggler {
  outline-color: hsla(0, 0%, 53%, 0.338);
}

.finished-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.result {
  text-align: center;
  background: var(--clr-accent);
  border-radius: 0.3rem;
  margin-inline: auto;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
}

.mode-selector-container {
  display: flex;

  position: absolute;
  top: 1rem;

  height: 2.25rem;
  width: 80%;

  background: var(--components-bg);

  border-radius: 0.3rem;
}

.mode-selector-container button {
  font-family: inherit;
  font-size: 1rem;
  padding-inline: 1rem;
  outline: none;
  border: none;
  background: none;
  color: var(--test-font-clr);
}

.mode-selector-container button:hover {
  color: var(--test-font-clr-active);
}

.mode-selector-container > div {
  margin-left: auto;
  display: flex;
  gap: 0.2rem;
}

.mode-selector-container > div button.selected {
  color: var(--clr-accent);
}

.mode-selector-container button.selected {
  color: var(--clr-accent);
}

@media screen and (max-width: 600px) {
  .mode-selector-container {
    height: fit-content;
    padding-block: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mode-selector-container > div {
    margin-left: 0;
    margin-top: 0.35rem;

    padding-top: 0.35rem;

    flex-basis: 80%;
    justify-content: center;
    align-items: center;

    border-top: 1px solid var(--bg-clr);
  }
}

.loader-icon {
  font-size: 6rem;
}

/*  Theme Picker   */

.themes-picker-container {
  position: relative;
}

.theme-picker-toggler {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 0.3rem;
  background: var(--components-bg);
}

.theme-picker-toggler {
  display: grid;
  place-content: center;
}

.theme-picker-toggler > svg {
  color: var(--clr-accent);
  font-size: 1rem;
}

.themes-container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: -8rem;
  width: fit-content;
  height: 2.25rem;

  align-items: center;
  display: flex;
  gap: 0.5rem;

  padding-inline: 1rem;
  border-radius: 0.3rem;
  background: var(--components-bg);
}

.themes-container > button {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: none;
}

.themes-container > button:nth-child(1) {
  background: linear-gradient(
    90deg,
    rgba(32, 31, 35, 1) 50%,
    hsl(30, 66%, 58%) 50%
  );
}

.themes-container > button:nth-child(2) {
  background: linear-gradient(
    90deg,
    hsl(210, 24%, 93%) 50%,
    hsl(210, 56%, 58%) 50%
  );
}

.themes-container > button:nth-child(3) {
  background: linear-gradient(
    90deg,
    rgba(32, 31, 35, 1) 50%,
    rgba(186, 77, 219, 1) 50%
  );
}

.themes-container > button:nth-child(4) {
  background: linear-gradient(
    90deg,
    hsl(330, 22%, 93%) 50%,
    hsl(346, 66%, 58%) 50%
  );
}
